<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%p [%d]: %m [%c] [%M() %L]%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="com.photobox" level="DEBUG" />
		<Root level="WARN">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>
